  body {
      margin: 0;
    } 
    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0; 
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      word-spacing: -0.25em;   //* removes space between inline-blocks *//
    }
    .navbar__item  {
      display: inline-block; 
      border-right:1px solid #bbb;
    }
    .navbar__link {
      text-decoration:none; 
      display: inline-block; 
      padding: 0.25em 0.5em;
      text-align: center;
    }
    .navbar__icon {
      display: none;
    }
    .chapter {
      padding: 50px 20px 10px 20px;
      text-align: justify;
    }
    .chapter__title {
      margin: 0px;
    } 


    @media screen and (max-width:800px) {
      .navbar {
        width: 2em;
      	float: right;
      	display: inline-block;
    	position: fixed;
    	right: 0;
    	top: 0;
      }
      .navbar__item {
	display: none;
      }
      .navbar__icon {
      	float: right;
      	display: inline-block;
	border-right: none;
      }
    }
    @media screen and (max-width:800px) {
      .navbar.open {
	position: fixed;
	width: 100%;
      }
      .navbar.open .navbar__icon {
    	position: absolute;
    	right: 0;
    	top: 0;
      }
      .navbar.open .navbar__item {
    	float: none;
    	display: inline;
	border-right: none;
	border-left:none;
      }
     .navbar.open .navbar__link {
    	display: block;
    	text-align: left;
      }
      #egyesli {
    	margin-top: 1.9em;
      }
    }

